*{
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
}

/*
  WAT IS THIS?!=
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
 line-height: 1.4;
}

.header {
  background: skyblue;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.navlist {
  display: inline-block;
  padding: 14px 10px;
}

.navbar {
  list-style: none;
}

.fa-whatsapp{
  color: darkgreen;
}

.navimg3 {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-top: -5px;
}

.currency {
  font-size: 14px;
  /* color: #fff; */
}

.align {
  vertical-align: middle;
}

.position {
  position: relative;
}

.call-us-li {
  background: darkblue;
  display: block;
  border-radius: 30px 30px 30px 30px;
  height: 40px;
}

.call-us {
  display: inline-block;
  padding-right: 30px;
}

.call-us-p1 {
  color: skyblue;
  display: block;
  font-size: 12px;
}
  
.call-us-p2 {
  color:white;
}


.fa-caret-down {
  color: #fff;
  padding-left: 8px;
}

.fa-user-circle {
  color: skyblue;
}

.size {
  font-size: 14px;
}

.logoimg {
  /* width: 90px;
  padding: 10px 0; */
  color: #fff;
  font-size: 30px;
  font-weight: 500;
 }

.border-left {
  border-left: 1px solid #000;
}

.flag{
  width: 25px;
  height: 18px;
}

 .bgimage-details {
  background: url(./images/img1.jpg);
  max-width: 100%;
  height: 25rem;
 }

 .findhotel{
   color: #ffff;
 }

 .hotel{
  padding-top: 7%;
 }
 
 .form-grid {
  position: sticky;
  top: 0;
  margin-top: -5%;
}

 .form {
   background: #fff;
   box-shadow: 0 4px 15px rgba(0,0,0,.2);
   margin: 0% 17%;
   margin-bottom: 35px;
 }

 .form-input {
   border: 1px solid grey;
  padding: 10px 10px 10px 40px;
  margin: 45px 0px;
  border-radius: 5px;
  width: 35%;
  margin-left: 48px;
   }

 .header-form-btn {
  padding: 10px 40px;
  border-radius: 5px;
  background: skyblue;
  color: #ffff;
 }

 .search {
  padding-top: 11px;
  padding-bottom: 14px;
}

.heading-text {
  padding: 3em 0em;
}

.suggested-destination-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  padding: 0% 18%;  
}

.destination-detail {
  border: 1px solid skyblue;
  padding: 20px 0px;
}

.destination-detail h3 {
  padding-bottom: 5px;
  color: skyblue;
}

.topdeal-grid {
    display: grid;
    grid-template-columns: repeat(3, 0.257fr);
    grid-gap: 2em;
    width: 100%;
    text-align: left;
    padding-left: 220px;
}

.topdeal-grid-img {
  width: 100%;
}

.topdeal-details {
  border: 1px solid grey;
  border-top: 0;
  border-radius: 5px;
  margin-top: -10px;
  padding: 10px;
}

.topdeal-details h4 {
  color: skyblue;
}

.popularcities-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.257fr);
  grid-gap: 2em;
  width: 100%;
  text-align: center;
  padding-left: 220px;
}

.popularcities-grid-img {
width: 100%;
}

.popularcities-details {
  padding: 25%;
}

.popularcities-details h4 {
  color: white;
  font-size: 2rem;
  }

.popularcities-details p {
  color: white;
  font-size: 2rem;
   }

.popularcities-box1{
  background: url(./images/lagos_city1.jpg);
  height: 17rem;
  }

.popularcities-box2{
  background: url(./images/abuja_city1.jpg);
  height: 17rem;
  }

.popularcities-box3{
  background: url(./images/crossriver_city1.jpg);
  height: 17rem;
  }
  
.popularcities-box4{
  background: url(./images/port-harcourt_city1.jpg);
  height: 17rem;
   }

.popularcities-box5{
   background: url(./images/owerri_city1.jpg);
   height: 17rem;
   }

.popularcities-box6{
   background: url(./images/uyo_city1.jpg);
   height: 17rem;
    }
    

.states-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  padding: 0px 226px;
  grid-gap: 1em;
}

.form-grid-email {
  background: #fafafa;
  padding: 5% 5%;
  margin-top: 5%;
}

.form-input-email {
 border: 1px solid grey;
 padding: 10px 10px 10px 40px;
 margin: 45px 0px;
 border-radius: 5px;
 width: 35%;
 }

.header-form-butn {
  padding: 10px 40px;
  border-radius: 5px;
  background: skyblue;
  color: #ffff;
 }

 
 .svg-logo{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 0px 226px;
  margin-bottom: 40px;
 }

 .add-hotel-btn {
  padding: 10px 40px;
  border-radius: 5px;
  background: skyblue;
  color: #ffff;
  margin-left: 680px;
   }

  .app-and-images {
  background: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  padding: 0 226px;
  padding-top: 10%;
  margin-top: 60px;
  }

  .hotel-booking {
    margin-top: 40%;
    margin-left: 20%;
    text-align: left;
    }

  .bookhotel {
   margin-top: 1em;
    }

  .hotel-booking-img {
    margin-top: 5%;
    }


 .top-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: left;
  padding: 0px 226px;
  grid-gap: 1em;
  margin-top: 5%;
}

.form-footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5px;
  grid-gap: 1em;
  background: darkblue;
 
 }

 .fa-lock{
  padding: 10px;
  border: 1px solid white;
  background: white;
  border-radius:80px;
  /* padding-top: 20px; */
  margin-top: 50px;
  margin-left: 450px;
  color: skyblue;
}

  .form-footer-details{
    margin-top: 10%;
  }

  .form-footer-h3{
   color: white;
   margin-right: 100px;
  }

  .form-footer-p{
   color: skyblue;
  }

  .footer-form {
    position: relative;
  }

  .footer-form-input {
  border: 1px solid grey;
  padding: 10px 0 10px 48px;
  margin: 45px 0px;
  border-radius: 5px 0 0 5px;
  width: 65%;
   }

 .footer-form-btn {
  padding: 10px 40px;
  border-radius: 0 5px 5px 0;
  background: skyblue;
  color: #ffff;
  position: absolute;
  top: 44px;
   }

   .copyright-container {
    display: flex;
    justify-content: space-around;
    padding: 5%;
  }
  
  .copyright {
    display: flex;
   }

   .fab{
     color: grey;
   }

    .certify {
    display: flex;
  }
  
  .NANTA_logo {
  width: 80px;
  }
  
  .Tourism-logo {
    width: 100px;
    }

    .small-uline{
     border: 1px solid skyblue;
     width: 4%;
     margin-bottom: 5%;
     margin-left: 48%;
    }

    .align-centre{
      text-align: center;
    }

   